
header {
  overflow: hidden;
  background-color: #003333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
nav {
  width: 100%;
}

section {
  min-height: 95vh;
  position: absolute;
  top: 0;
  left: 0;
}

img {
  max-width: 100%;
}
 h1 {
   font-size: 32px;
   margin-left: 10px;
 }
