
header {
  overflow: hidden;
  background-color: #003333;
  position: fixed;
  top: 0;
  width: 100%;
}

section {
  min-height: 100vh;
}

img {
  max-width: 100%;
}
 h1 {
   font-size: 32px;
   margin-left: 10px;
 }
