/*header bar fixed to top of screen*/
.header-name {
  padding: 8px;
  font-size: 38px;
  color: white;
  float: left;
}

/*nav bar*/
.nav {
  position: fixed;
  top: 0px;
  right: 0px;
}
.drop-nav {
  float: right;
  padding: 5px;
}

.nav ul {
  display: none;
  background-color: #333;
  margin-top: 55px;
  list-style: none;
  padding: 0px;
}

.nav:hover ul {
  display: block;
}

.nav li {
  height: 60px;
  font-size: 38px;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover {
      background-color: #111;
}

/*landing and bottom contact styles*/
.landing, .contact {
    background: gray;
  }

/*hide template*/
.template {
  display: none;
}

/*project section styling*/
.info .name {
  text-align: center;
}

/*anything larger than 777px formats like this*/
@media screen and (min-width: 777px){
  .drop-nav {
    display: none !important;
  }
  .nav ul {
    display: inline-block;
    float: right;
    margin-top: 8px;
  }

  li {
    display: inline;
  }

  li a {
      padding: 8px;
  }

  /*projects area*/
  .preview {
    width: 46%;
    display: inline-block;
  }
  .even .info {
    width:46%;
    float:right;
  }
  hr {
    clear:both;
  }
  .odd .preview {
    float:right;
    margin-bottom: 20px;
  }
  .info {
    margin-right: 2%;
    margin-left: 2%;
  }
  .preview {
    margin-left: 2%;
    margin-right: 2%;
  }
}
