/*header bar fixed to top of screen*/
.header-name {
  padding: 8px;
  font-size: 38px;
  color: #c1eef2;
  float: left;
}

/*nav bar*/
.side-menu {
  position: fixed;
  top: 0px;
  right: 0px;
}
.drop-nav {
  float: right;
  padding: 5px;
  color: #c1eef2;
}

.side-menu ul {
  display: none;
  background-color: #003333;
  margin-top: 55px;
  list-style: none;
  padding: 0px;
}

.side-menu:hover ul {
  display: block;
}

.side-menu li {
  height: 60px;
  font-size: 38px;
  color: #c1eef2;
}

li:hover, .header-name:hover {
      background-color: #111;
}

/*landing and bottom contact styles*/
.landing, .contact {
    background: #c1eef2;
    color: #003333
  }

/*project section styling*/
.info .name {
  text-align: center;
}

/*contact styling*/
/*TODO working on css here*/
.contact div{
  width: 80%;
  height: 80%;
  /*margin: auto;*/
}

/*anything larger than 777px formats like this*/
@media screen and (min-width: 777px){
  .drop-nav {
    display: none !important;
  }
  .side-menu ul {
    display: inline-block;
    float: right;
    margin-top: 8px;
  }

  li {
    display: inline;
    padding: 8px;
  }

  /*projects area*/
  .preview {
    width: 46%;
    display: inline-block;
  }

  .info {
    margin-right: 2%;
    margin-left: 2%;
  }

  .preview {
    margin-left: 2%;
    margin-right: 2%;
  }
}
